.Register {
  color: black;
}
.RegisterForm {
  width: 95%;
  margin: 10px auto;
}
.registerContainer {
  width: 500px;
  margin: 60px auto;
  background-color: #51a3b89f;
  border-radius: 8px;
  text-align: center;
}
