.popup {
    background: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    width: 40%;
    height: 90vh;
    border: 1px solid rgba(14, 13, 13, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    right:0;
    padding: 5px; 
    overflow-y: scroll;
}