.signUpContainer {
  padding:20px;
}

.signForm {
  width: 95%;
  margin: 10px auto;
}

.acctLink {
  color: goldenrod;
}

.acctLink:hover {
  font-size: 15px;
  font-weight: 600;
}

.btn {
  background-color: goldenrod!important
}

.btn:hover {
  background-color: rgba(218, 165, 32, 0.8)!important
}

#homebutts{
  text-decoration: none;
}